# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary files
*.tmp
*.temp
*.log
*.bak
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore library folders
lib/

# Ignore temporary files
*.html
*.csv
*.vcf

# Ignore virtual environment
venv/
.env/